apiVersion: v1
kind: Service
metadata:
  name: kafka
spec:
  clusterIP: None
  selector:
    app: kafka
  ports:
    - name: broker
      port: 9092
      targetPort: 9092

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
spec:
  serviceName: "kafka"
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
      - name: kafka
        image: bitnami/kafka:3.7.0-debian-12-r0





        ports:
          - containerPort: 9092
            name: broker
        env:
          # ------------------------------------------------
          # KRaft mode (Zookeeper-less Kafka)
          # ------------------------------------------------
          - name: KAFKA_CFG_PROCESS_ROLES
            value: "broker,controller"

          - name: KAFKA_CFG_NODE_ID
            value: "1"

          - name: KAFKA_CFG_CONTROLLER_QUORUM_VOTERS
            value: "1@kafka-0.kafka:9093"

          - name: KAFKA_CFG_LISTENERS
            value: "PLAINTEXT://:9092,CONTROLLER://:9093"

          - name: KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP
            value: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT"

          - name: KAFKA_CFG_INTER_BROKER_LISTENER_NAME
            value: "PLAINTEXT"

          - name: KAFKA_CFG_CONTROLLER_LISTENER_NAMES
            value: "CONTROLLER"

          # ------------------------------------------------
          # Storage directory (persistent)
          # ------------------------------------------------
          - name: KAFKA_CFG_LOG_DIRS
            value: "/bitnami/kafka/data"

          # Auto topic creation
          - name: KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE
            value: "true"

        volumeMounts:
        - name: data
          mountPath: /bitnami/kafka/data

  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 2Gi
