apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: neo4j
spec:
  selector:
    matchLabels:
      app: neo4j
  serviceName: "neo4j"
  replicas: 1
  template:
    metadata:
      labels:
        app: neo4j
    spec:
      containers:
      - name: neo4j
        image: neo4j:5.25.1-community-ubi9 
        resources:
          limits:
            memory: "2Gi"
            cpu: "500m"
          requests:
            memory: "1Gi"
            cpu: "200m"
        env:
          - name: NEO4J_AUTH
            value: neo4j/password

          - name: NEO4J_ACCEPT_LICENSE_AGREEMENT
            value: "yes"

          - name: NEO4J_server_memory_heap_initial__size
            value: "512m"

          - name: NEO4J_server_memory_heap_max__size
            value: "1g"

          - name: NEO4J_server_memory_pagecache_size
            value: "512m"

          - name: NEO4J_server_default__listen__address
            value: "0.0.0.0"

        ports:
          - containerPort: 7687
            name: bolt

        volumeMounts:
          - name: data
            mountPath: /data
          - name: neo4j-logs
            mountPath: /logs

  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 2Gi

  - metadata:
      name: neo4j-logs
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: neo4j
spec:
  clusterIP: None
  selector:
    app: neo4j
  ports:
    - port: 7687
      targetPort: 7687
